# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\RKLL\Desktop\大作业-2019213537黄轩，2019213548岳文妍，2019213527肖雪，2019213519王娜，2019213572孙宜科\Java大作业\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
